@font-face {
  font-family: "Josefin Sans";
  font-weight: normal;
  src: url("/fonts/josefin-sans/JosefinSans-Regular.otf"),
    url("/fonts/josefin-sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefin Sans Light";
  font-weight: normal;
  src: url("/fonts/josefin-sans/JosefinSans-Light.ttf");
}

@font-face {
  font-family: "Josefin Sans Thin";
  font-weight: normal;
  src: url("/fonts/josefin-sans/JosefinSans-Thin.ttf");
}

@font-face {
  font-family: "Josefin Sans Semi-Bold";
  font-weight: normal;
  src: url("/fonts/josefin-sans/JosefinSans-SemiBold.ttf");
}

@font-face {
  font-family: "Josefin Sans Bold";
  font-weight: normal;
  src: url("/fonts/josefin-sans/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "Rock Salt";
  src: url("/fonts/rock-salt/RockSalt.otf"),
    url("/fonts/rock-salt/RockSalt.ttf");
}
