// project buttons
.standard-btn-theme,
.small-btn-theme {
  background: $theme-white;
  box-shadow: $light-shadow;
  color: $theme-blue;
  border: none;
}

.standard-btn-theme {
  padding: 1rem 2rem;
}

.small-btn-theme {
  padding: 0.5rem 0;
  text-align: center;
  width: 7.5vw;
}
