// navigation bar that is on all pages exc
.navigation-nav {
  left: 50vw;
  position: relative;
  z-index: 10;

  @media (max-width: $medium) and (orientation: portrait) {
    left: 0;
    padding-top: 2.5vh;
    position: absolute;
    width: 100vw;

    @include displayFlex(center, center);
  }

  .fa-bars {
    display: none;
    left: 85vw;
    min-width: 10vw;
    position: absolute;
    text-align: center;
    transition: all 1s ease;
    z-index: 10;

    @media (max-width: $medium) and (orientation: portrait) {
      display: block;
      font-size: 1.25rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .fa-bars.rotate {
    display: inline;
    transform: rotate(90deg) scale(0.75);
  }

  .navigation-ul {
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    width: 100%;

    @media (max-width: $medium) and (orientation: portrait) {
      left: 7.5vw;
      margin: 0;
      opacity: 0;
      padding-top: 0.25rem;
      position: relative;
      transition: all 0.33s ease;
      width: auto;
      z-index: 5;
    }

    @media screen and (min-width: $xx-large) {
      font-size: 1.75rem;
    }

    li {
      display: inline;
      margin: 0 1.5em;

      @media (max-width: $medium) and (orientation: portrait) {
        margin: 0 0.5rem;
      }

      a {
        border-top: none;
        padding: 5px 0;
        transition: all 0.1s ease-in;

        &:hover {
          cursor: pointer;
          border-top: solid $theme-blue 3px;
          margin-bottom: -5px;

          @media screen and (orientation: portrait) {
            border-top: none;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .navigation-ul.appear {
    left: 0;
    opacity: 1;
  }

  .navigation-ul.d-none {
    opacity: 0;
  }
}
