// navigation bar that is on all pages exc
.navigation-nav {
  padding-top: 2.5vh;
  position: relative;
  z-index: 10;

  @include displayFlex(center, flex-end);

  @media (max-width: $medium) and (orientation: portrait) {
    left: 0;
    position: absolute;
    width: 100vw;
  }

  .fa-bars {
    display: inline;
    font-size: 1.5rem;
    min-width: 10vw;
    position: relative;
    text-align: center;
    transition: all 0.75s ease;
    z-index: 10;

    @media (max-width: $medium) and (orientation: portrait) {
      font-size: 1.25rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .fa-bars.rotate {
    transform: rotate(90deg) scale(0.75);
  }

  .navigation-ul {
    font-size: 1.2rem;
    left: 5vw;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s ease;

    @media (max-width: $medium) and (orientation: portrait) {
      font-size: 1rem;
      padding-top: 0.25rem;
      transition: all 0.33s ease;
      z-index: 5;
    }

    @media screen and (min-width: $xx-large) {
      font-size: 1.25rem;
    }

    li {
      display: inline;
      margin: 0 1.5em;
      padding: 5px 0;

      @media (max-width: $medium) and (orientation: portrait) {
        margin: 0 0.5rem;
      }

      &::after,
      &::before {
        color: $theme-yellow;
        opacity: 0;
        position: relative;
      }

      &::after {
        content: "}";
        left: 0.2em;
        transition: left 0.3s, opacity 0.5s;
      }

      &::before {
        content: "{";
        right: 0.2em;
        transition: right 0.3s, opacity 0.5s;
      }

      &:hover {
        cursor: pointer;

        &::after,
        &::before {
          opacity: 1;
        }

        &:after {
          left: 0.43em;
        }

        &:before {
          right: 0.5em;
        }
      }
    }
  }

  .navigation-ul.appear {
    left: 0;
    opacity: 1;
  }

  .navigation-ul.d-none {
    opacity: 0;
  }
}
