// mixin for flex properties
@mixin displayFlex($align-items, $justify-content, $flex-flow: row nowrap) {
  align-items: $align-items;
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
}

// mixins to prevent selection of element
@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
