.home-container {
  @include displayFlex(center, flex-start);
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;

  .home-right-side-container {
    @include displayFlex(center, center);
    height: 100%;
    width: 50%;
    left: 50%;
    position: absolute;

    @media (orientation: portrait) {
      height: 50%;
      left: 0;
      top: 0;
      width: 100%;
    }

    .home-titles-container {
      height: 50%;
      position: absolute;
      z-index: 1;

      @include displayFlex(stretch, center, column nowrap);

      @media (orientation: portrait) {
        height: 66%;
        top: 15vh;
        width: 80%;
      }

      @media (orientation: landscape) and (min-width: $xx-large) {
        height: 40vh;
      }

      .home-main-title {
        font-size: 3rem;

        @include noSelect();

        @media screen and (max-width: $xx-large) {
          font-size: 2.75rem;
        }

        @media screen and (max-width: $x-large) {
          font-size: 2.25rem;
        }

        @media screen and (max-width: $large) {
          font-size: 2rem;
        }

        @media screen and (max-width: $medium) {
          font-size: 1.75rem;
        }

        @media screen and (max-width: $small) {
          font-size: 1.5rem;
        }
      }

      .home-titles-secondary-group {
        margin-top: auto;

        .home-titles-developer {
          font-size: 2.5rem;

          @include noSelect();

          @media (orientation: landscape) and (max-width: $x-large) {
            font-size: 2.25rem;
          }

          @media (orientation: landscape) and (max-width: $large) {
            font-size: 2rem;
          }

          @media screen and (max-width: $medium) {
            font-size: 1.75rem;
          }

          @media screen and (max-width: $small) {
            font-size: 1.5rem;
          }
        }

        .home-titles-github {
          @media (max-width: $medium) and (orientation: portrait) {
            display: none;
          }

          @media (orientation: landscape) and (max-width: $large) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .home-img-container {
    @include displayFlex(flex-end, flex-start);
    align-self: flex-end;
    height: 65%;
    position: relative;
    left: 10%;

    @media (orientation: portrait) {
      height: 40%;
      left: 12.5%;
      width: 75%;

      @include displayFlex(flex-start, center);
    }

    @media (max-width: $medium) and (orientation: portrait) {
      left: 0;
      width: 100%;
    }

    @media (orientation: landscape) and (min-width: $xx-large) {
      width: 40%;
    }

    .home-profile-picture {
      align-self: flex-end;
      max-height: 100%;
      transition: all 1s ease;
      z-index: 1;

      @include noSelect();

      @media (orientation: portrait) and (max-width: $medium) {
        max-height: none;
        max-width: 50%;
      }

      @media (orientation: portrait) and (max-width: $small) {
        max-height: 100%;
        position: relative;
        max-width: none;
      }

      @media (orientation: landscape) and (max-width: $large) {
        max-height: 75%;
      }

      @media (orientation: landscape) and (min-width: $xx-large) {
        max-height: inherit;
        min-width: 75%;
      }
    }

    .home-blue-rectangle {
      box-shadow: $light-shadow;
      display: none;

      @media (orientation: portrait) {
        background: $theme-cyan;
        display: block;
        height: 39vh;
        left: 50vw;
        position: absolute;
        top: 1vh;
        width: 25vw;
        z-index: -1;
      }

      @media (max-width: $small) and (orientation: portrait) {
        height: 45vh;
        top: -5vh;
      }
    }

    .home-yellow-trapezoid {
      border-bottom: 30vw solid $theme-yellow;
      box-shadow: $light-shadow;
      height: 0;
      left: -15vw;
      position: absolute;
      top: 22.5vh;
      transform: rotate(-70deg);
      transition: all 1s ease;
      width: 55vw;
      z-index: -1;

      @media (max-width: $medium) and (orientation: portrait) {
        background: $theme-yellow;
        border-bottom: none;
        border-right: none;
        height: 45vh;
        left: 25vw;
        top: -2.5vh;
        transform: rotate(0deg);
        width: 25vw;
      }
    }
  }
}

// // animations styling
.home-container.transition-enter {
  .home-profile-picture,
  .home-yellow-trapezoid {
    opacity: 0;
  }
}

.home-container.transition-enter-done {
  .home-profile-picture,
  .home-yellow-trapezoid {
    opacity: 1;
  }
}

.home-container.transition-exit {
  .home-profile-picture,
  .home-yellow-trapezoid {
    opacity: 0;
  }
}
